<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="../public/materialize/css/materialize.min.css"  media="screen,projection"/>
    <style>
      background-color:tomato;
    </style>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>

<body>
      
    <nav>
        <div class="nav-wrapper">
          <form>
            <div class="input-field"> <!--ADD ACTION-->
              <input id="search" type="search" required>
              <label class="label-icon" for="search"><i class="material-icons prefix" style="top: 0;">account_circle</i></label>
              <i class="material-icons">close</i>
            </div>
          </form>
        </div>
    </nav>

  <div class="container">
    <h1>Welcome to Teacher-O-Matic!</h1>
    <p>Enter your GitHub username in the header field</p>
  </div>

    <script type="text/javascript" src="../public/materialize/js/materialize.min.js"></script>
</body>
</html>
