<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="../public/materialize/css/materialize.min.css"  media="screen,projection"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
<body>
      
    <nav>
        <div class="nav-wrapper">
          <form id="form">
            <div class="input-field">
              <input id="search" type="search" required>
              <label class="label-icon" for="search"><i class="material-icons prefix" style="top: 0;">account_circle</i></label>
              <i class="material-icons" id="close">close</i>
            </div>
          </form>
        </div>
    </nav>

  <div class="container">
    <div class="row">

    </div>
  </div>

  <template class="index">
    <h1>Welcome to Teacher-O-Matic!</h1>
    <p>Enter your GitHub username in the header field</p>
  </template>

  <template class="user-error">
    <h3 class="center">Invalid username.</h3>
  </template>

  <template class="repos">
      <div class="col s4">
          <div class="card white">
              <div class="card-content">
                  <span class="card-title truncate"></span>
                  <br>
                  <div style="display: flex; justify-content: space-between;">
                    <div style="display: flex; justify-content: space-between;">
                      <a class="fork-link orange-text">Show Forks</a>
                      <p>&nbsp|&nbsp</p>
                      <a class="git-link orange-text" href="">Show on GitHub</a>
                    </div>
                    <p class="fork-count grey-text"></p>
                  </div>
              </div>
          </div>
  </template>

  <template class="forks">
    <div class="col s6">
      <div class="card">
          <div class="card-content black-text">
              <span class="card-title"></span>
              <div class="card darken-3 grey">
                  <code class="white-text"></code> 
              </div>
              <a class="git-link">Show on GitHub</a>
              <br>
              <div class="tests"></div>
              <br>
              <br>
              <div class="card-action">
                  <div class="row">
                      <div class="input-field col s12">
                      <textarea id="textarea1" class="materialize-textarea"></textarea>
                      <label for="textarea1">Comment</label>
                      </div>
                  </div>
                  <form action="#">
                      <p>
                      <label>
                          <input name="group1" type="radio"/>
                          <span><i class="small material-icons">done</i>Klar</span>
                      </label>
                      </p>
                      <p>
                      <label>
                          <input name="group1" type="radio" />
                          <span><i class="small material-icons">refresh</i>Åtgärd krävs</span>
                      </label>
                      </p>
                      <p>
                      <label>
                          <input name="group1" type="radio" checked/>
                          <span><i class="small material-icons">visibility_off</i>Ej Bedömd</span>
                      </label>
                      </p>
                  </form>
              </div>
              <a class="waves-effect waves-light btn">SAVE</a>
          </div>
      </div>
    </div>
  </template>

  <script type="text/javascript" src="../public/materialize/js/materialize.js"></script>
  <script type="text/javascript" src="../js/api.js"></script>
  <script type="text/javascript" src="../js/script.js"></script>

</body>
</html>

<script type="text/javascript" src="../js/api.js"></script>